<div class="espace-tables" id="tables">
    <h3>Ame</h3>
    <div id="ame">


        <div id="essence">
            <p>Essence : Prévoyance</p>
            <div class="ame-content">

                <p class="harmonie" (click)="onClick('tata') " >Harmonie : <img alt="icone plus" class="icone plus" src="assets/plus.png"> </p>

                <p class="info-perso"></p>
            </div>
        </div>
        <div id="rupture">
            <p>Anathème : Versatilité</p>
            <div class="ame-content"><p class="harmonie" (click)="onClick('tata')">Anathème : <img alt="icone plus"
                                                                                                   class="icone plus"
                                                                                                   src="assets/plus.png">
            </p>

                <p class="info-perso"></p>
            </div>
        </div>
    </div>
    <h3>Santé</h3>

    <table id="sante">
        <tr>
            <th>Etat</th>
            <th>Type</th>
            <th>Intensité</th>
        </tr>
        <tr>
            <td>Choqué (-1)</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>Meurtri (-2)</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>Brisé (-3)</td>
            <td></td>
            <td></td>
        </tr>
    </table>

    <h3>Relations</h3>

    <table id="relations">
        <tr>
            <th>Nom</th>
            <th>Nature</th>
            <th>Résonnance</th>
        </tr>
        <tr>
            <td>Robert le perso de michel</td>
            <td>amicale teintée d'humour et de competition</td>
            <td>3</td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </table>

</div>
