.saison-score p {
    position: relative;
    bottom: 39px;

}
.pastille {
    min-height: 80px;
    max-height: 80px;
    max-width: 80px;
    min-width: 80px;
    border-radius: 50%;
    border: 1px solid #ffffff;
/*    position: relative;
    bottom: 2px;*/
}

.saison-score {
    margin: 10px;
    font-size: 3em;
    text-align: center;
/*    position: relative;
    bottom: 10px;
    right: 10px;*/
}
#temps >div>.pastille{
    border: none;
/*    position: relative;
    top: 0px;
    right: 0px;*/
}

