
<div class="saison   " id="hiver">
    <div class="saison-pastille  "><p class=saison-score>2</p></div>
    <div class="saison-texte">
        <p><strong>Hiver</strong></p>
        <p>Coordination, Instinct, Mimer,
            Modifier, Mouvement, Profiter...</p>
    </div>
    <div class="saison-pastille nymphe">
        <img alt="nymphe de l'hiver" class="nymphe" height="80px" src="fdp-ressources/assets/nymphe-hiver.png"
             width="80px"></div>
</div>
<div class="saison " id="printemps">
    <div class="saison-pastille  nymphe">
        <img alt="nymphe du printemps" class="nymphe" height="80px"
             src="fdp-ressources/assets/nymphe-printemps.png" width="80px"></div>
    <div class="saison-texte">
        <p><strong>Printemps</strong></p>
        <p>Faux, Eviter, Pacifisme,
            Perception, Tromper, Vérité...</p>
    </div>
    <div class="saison-pastille  "><p class=saison-score>2</p></div>
</div>
<div class="saison  " id="ete">
    <div class="saison-pastille nymphe">
        <img alt="nymphe de l'ete" class="nymphe" height="80px"
             src="fdp-ressources/assets/nymphe-ete.png" width="80px"></div>
    <div class="saison-texte">
        <p><strong>Eté</strong></p>
        <p>Emotion, Force, Interaction,
            Rassembler, Sacrifice, Vitesse...</p>
    </div>
    <div class="saison-pastille  "><p class=saison-score>2</p></div>
</div>
<div class="devotion-text"><p><span><br>Dévotion</span></p></div>
<div class="saison-pastille   " id="temps"><p class=saison-score>2</p></div>

<div class="saison  " id="automne">
    <div class="saison-pastille  "><p class=saison-score>2</p></div>
    <div class="saison-texte">
        <p><strong>Automne :</strong></p>
        <p>Acquérir, Construire, Définir,
            Logique, Réparer, Protection...</p>
    </div>
    <div class="saison-pastille  nymphe">
        <img alt="nymphe de l'automne" class="nymphe" height="80px"
             src="fdp-ressources/assets/nymphe-automne.png" width="80px"></div>
</div>

