
.devotion-text > p > span {
    vertical-align: middle;
}

.saison {
    border-radius: 45px;
    margin: -5px;
    display: flex;
    justify-content: space-between;
    padding-top: 5px;
    height: 85px;
}

.saison-texte {
    font-size: 0.8em;
    text-align: center;
    height: 50px;
}


.nymphe {
    border-radius: 50%;
    border: none;
}
#temps {
    height: 97px;
    width: 97px;
    border-radius: 50%;
    text-align: center;
    border: double 4px;
}
#temps > div {
    border-style: none !important;

}

#temps.p {
    vertical-align: middle;

}
.score-left{
border:5px;
    width: 900px;
    background-color: #5e266a;
}
.score-right{
    border:5px
}
