
.devotion-text > p > span {
    vertical-align: middle;
}

.saison {
    border-radius: 45px;
    margin: -5px;
    display: flex;
    justify-content: space-between;
    padding-top: 5px;
    height: 85px;
}

.saison-texte {
    font-size: 1em;
    text-align: center;
    height: 50px;
}
.saison-text strong , p{
    margin-bottom: 2px;
    padding: 2px;
    margin-top: 2px;
}


.nymphe {
    border-radius: 50%;
    border: none;
}
#temps {
    height: 97px;
    width: 97px;
    border-radius: 50%;
    text-align: center;
    border: double 4px;
}
#temps > div {
    border-style: none !important;

}

#temps.p {
    vertical-align: middle;

}
.score-left{
border:5px;
    width: 900px;
    position: relative;
    bottom: 13px;
    left: 11px;


}
.score-right{
    border:5px;
    position: relative;
    bottom: 13px;
    right: 11px;

}
#score-temps{
    position: relative;
    bottom: 3px;
    right: 3px;
}
