

<div *ngFor="let value of seasonArray" class="saison" id="{{value.id}}">
    <div *ngIf="value.isOnLeft" class="saison-pastille  nymphe">
        <img alt="nymphe {{value.name}}" class="nymphe" height="80px"
             src="./../../../../assets/nymphe-{{value.id}}-small.png" width="80px">
    </div>
    <div *ngIf="!value.isOnLeft"><app-input-circle></app-input-circle></div>
    <div class="saison-texte">
        <p><strong>{{value.name}}</strong></p>
        <p>{{value.keywords}}</p>
    </div>
    <div *ngIf="value.isOnLeft"><app-input-circle></app-input-circle></div>
    <div *ngIf="!value.isOnLeft" class="saison-pastille  nymphe">
        <img alt="nymphe {{value.name}}" class="nymphe" height="80px"
             src="./../../../../assets/nymphe-{{value.id}}-small.png" width="80px">
    </div>
</div>

<!--<input type="text" class="saison-pastille saison-score">-->

<div class="devotion-text"><p><span><br>Dévotion</span></p></div>
<app-input-circle class="saison-pastille   " id="temps"></app-input-circle>



