<div id="footer">
    <p class="maxim" id="maxime-{{currentSeason.id}}" ><span>{{currentSeason.maxim}}</span></p>

    <div id="keywords-de-saison">
        <img alt="token de saison" id="token-left" src="../../../../assets/{{currentSeason.token}}" >
        <div id="keyword-container-{{currentSeason.id}}">

            <ul class="keyword" >
                <li *ngFor="let value of currentSeason.keywords | slice:0:5">{{value}}</li>

            </ul>
            <ul class="keyword" >
                <li *ngFor="let value of currentSeason.keywords | slice:5:10">{{value}}</li>

            </ul>
        </div>
        <img alt="token de saison" id="token-right" src="../../../../assets/{{currentSeason.token}}">
    </div>
</div>
