<div id="footer">
    <p id="maxime-{{seasonDescribe.id}}" >{{seasonDescribe.maxim}}</p>

    <div id="keywords-de-saison">
        <img alt="token de saison" id="token-left" src="../../../../assets/{{seasonDescribe.token}}" >
        <div id="keyword-container-{{seasonDescribe.id}}">

            <ul class="keyword" >
                <li *ngFor="let value of seasonDescribe.keywords | slice:0:5">{{value}}</li>

            </ul>
            <ul class="keyword" >
                <li *ngFor="let value of seasonDescribe.keywords | slice:5:10">{{value}}</li>

            </ul>
        </div>
        <img alt="token de saison" id="token-right" src="../../../../assets/{{seasonDescribe.token}}">
    </div>
</div>
