<div class="header-container"><p>{{value}}:<img alt="icone plus" *ngIf="!isInEdition" (click)="onClick()"
                                                class="icone plus"
                                                src="../../{{iconePlus}} "/>
</p>
    <p><label *ngIf="isInEdition">
        <input type="text" (change)="validate(str)" [(ngModel)]="str">
    </label></p>
    <ul class="info-perso" *ngIf="!isInEdition">

        <li *ngFor="let listvalue of listValues ">{{listvalue}}</li>
    </ul>


</div>

