input[type=text] {
    border: dotted 1px;
    border-radius: 5px;
    width: 100px;
    height: 1.2em;
}


.list-of-values{
    display: flex;
    flex-wrap: wrap ;
    justify-content: space-between;
    max-width: 500px;
    line-height: 0.1em;
}
