input[type=text] {
    border: none;
    border-radius: 5px;
    width: 100px;
    height: 1.2em;
    outline: none;
}


.list-of-values{
    display: flex;
    flex-wrap: wrap ;
    justify-content: space-between;
    max-width: 500px;
    margin: 0;
    padding: 1;
}
.value-from-list{
    background-color: #e8e8e8;
    margin: 2px;
}
