input[type=text] {
    border-radius: 5px;
    width: 100px;
    height: 1.2em;
    border : none !important;
    background-color: #f2f8fa;
    outline : none;
}

.input-value
{
    margin-top: 0;
}
