.wrapper {
    display: grid;
    grid-template-columns: repeat(21, 1fr);
    grid-gap: 1px;
    grid-auto-rows: minmax(40px, auto);
}



#winter {
    grid-column: 2 / span 10;
    grid-row: 1 /span 2;
    border: 3px solid #9a99ff;

}

#spring {
    grid-column: 13 /span 10;
    grid-row: 1 /span 2;
    border: 3px solid #a9d18e;

}

#autumn {
    grid-column: 2 / span 10;
    grid-row: 4 / span 2;
    border: 3px solid #ff0000;

}

#summer {
    grid-column: 13 /span 10;
    grid-row: 4 / span 2;
    border: 3px solid #ffd966;
}

#temps {
    grid-column: 12/span 1;
    grid-row: 3 / span 1;

}

.seven {
    grid-column: 10 /span 12;
    grid-row: 7;
    margin-left: 15px;
}

.devotion-text {
    grid-column: 13 / span 2;
    grid-row: 3 /span 1;
    text-align: right;
}

