<h3>Relations</h3>
<table id="relations">

    <tr>
        <th>Nom</th>
        <th>Nature</th>
        <th>Résonnance</th>
    </tr>
    <tr>
        <td>
            <app-input-value ></app-input-value>
        </td>
        <td>
            <app-input-value ></app-input-value>
        </td>
        <td class="relation-score">
            <app-input-score ></app-input-score>
            <app-input-score ></app-input-score>
        </td>
    </tr>

    <tr *ngFor="let a of fakeArray">
        <td>
            <app-input-value ></app-input-value>
        </td>
        <td>
            <app-input-value ></app-input-value>
        </td>
        <td>
            <app-input-score ></app-input-score>
        </td>
    </tr>
    <tr id="table-control">
        <td (click)="onPlusClick()">
            plus
        </td>
        <td></td>
        <td (click)="onMinusClick()">
            moins
        </td>



</table>
