input[type=text] {
    border: dotted 1px;
    border-radius: 5px;
    width: 100px;
    height: 1.2em;
}

.input-value
{
margin-top: 0;
    min-width: 50px;
    min-height: 1em;
    background-color: #0301bd;
}
