<div class="header-container">
    <div class="header-content">
        Nom :
        <app-input-value [value]="current.nom" (inputValueToEmit)="fillArray($event,'nom')" ></app-input-value>
    </div>
    <div class="header-content">
        Lignée :
        <app-input-value [value]="current.lignee" (inputValueToEmit)="fillArray($event, 'lignee')"></app-input-value>
    </div>
    <div class="header-content">
        Age :
        <app-input-value [value]="current.age" (inputValueToEmit)="fillArray($event, 'age')"></app-input-value>
    </div>
</div>
